
 
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Retail Manager List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                            <li class="breadcrumb-item active">Retail Manager</li>
                        </ol>
                        <!-- <div class="card mb-4">
                            <div class="card-body">
                                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                .
                            </div>
                        </div> -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Date of Birth</th>
                                                <th>phone No</th>
                                                <th>level</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Date of Birth</th>
                                                <th>phone No</th>
                                                <th>level</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% retailsellerInfo.forEach(r=>{ %>
                                                <tr>
                                                    <td><%= r.name %> </td>
                                                    <td><%= r.email %></td>
                                                    <td><%= r.address %></td>
                                                    <td><%= moment(r.dob).format(shortDateFormat) %></td>
                                                    <td><%= r.phone_no %></td>
                                                    <td><%= r.level %></td>
                                                    <td> <a class="btn btn-danger"  href="/admin/retailManager/delete/<%= r.user_id %>">Delete</a></td>
                                                </tr>

                                           <% }) %> 
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                